# Cluster Actors using a Matrix of Actor x Genre

Create a matrix of actors and the genres in which they've starred. Then, we'll use k-Means to extract clusters from the data in an unsupervised fashion.

In [1]:
%matplotlib inline

In [2]:
import pandas as pd

import json

In [4]:
movie_data_map = {}

with open("../data/imdb_movies_2000to2022.prolific.json", "r") as in_file:
    for line in in_file:
        
        # Read the movie on this line and parse its json
        this_movie = json.loads(line)
            
        # Finished with this film
        movie_data_map[this_movie["imdb_id"]] = ({
            "movie": this_movie["title"],
            "actors": set([item[0] for item in this_movie['actors']]),
            "genres": this_movie["genres"]
        })

In [5]:
# Check the output for movie, Kate & Leopold, IMDB ID = tt0035423
movie_data_map['tt0035423']

{'movie': 'Kate & Leopold',
 'actors': {'nm0000212', 'nm0000630', 'nm0005227', 'nm0413168'},
 'genres': ['Comedy', 'Fantasy', 'Romance']}

In [11]:
# Get all actors as an index for a dataframe
index = movie_data_map.keys()

# Get the genre-counts for each actor in the index
rows = [movie_data_map[k]["genres"] for k in index]

# Unique genres
all_genres = {g for r in rows for g in r}

# Convert rows to binary vectors
def generate_genre_vector(row):
    this_genre_map = {g:0 for g in all_genres}
    this_genre_map.update({g:1 for g in row})
    
    return this_genre_map
genre_vectors = [generate_genre_vector(r) for r in rows]

# Create the data frame from these rows, with the actors as index
df = pd.DataFrame(genre_vectors, index=index)

# Fill NAs with zero, as NA means the actor has not starred in that genre
df = df.fillna(0)

df

,,Drama,Adventure,Fantasy,Reality-TV,History,Horror,Musical,Mystery,Animation,...,Crime,Comedy,Short,Documentary,Sci-Fi,Biography,War,Sport,Music,Western
tt0035423,0,0,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
tt0088751,0,0,0,0,0,0,1,0,0,0,...,0,1,0,0,1,0,0,0,0,0
tt0096056,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
tt0113092,0,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
tt0116391,0,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt9906278,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
tt9906644,0,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
tt9906844,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
tt9907032,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
tt9907608,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

## Apply k-Means with a Fixed K

In [12]:
from sklearn.cluster import KMeans

In [41]:
k = 16 # We pick k for illustrative purposes only. You would need a more principled approach here.

In [42]:
cluster_model = KMeans(n_clusters=k)

In [43]:
cluster_model.fit(df)

KMeans(n_clusters=16)

In [44]:
cluster_labels = cluster_model.predict(df)
movie_cluster_df = pd.DataFrame(cluster_labels, index=df.index, columns=["cluster"])

In [45]:
movie_cluster_df["cluster"].value_counts()

5     3626
1     2509
11    1927
0     1705
2     1376
10    1333
6     1123
13     947
7      906
8      847
4      846
12     841
9      771
14     709
3      635
15     519
Name: cluster, dtype: int64

In [47]:
for cluster,movies in movie_cluster_df.groupby("cluster"):
    print("Cluster:", cluster, "Size:", movies.shape[0])
    
    top_genres = df.loc[movies.index].sum().sort_values(ascending=False).head(5) / movies.shape[0]
    print("\t", "Top Genres:")
    for this_g,rate in top_genres.items():
        print("\t\t", this_g, "[%0.4f]" % rate)
    
    print("\t", "Movie Sample:")
    for m_id in movies.sample(10).index:
        print("\t\t", m_id, movie_data_map[m_id]["movie"])

Cluster: 0 Size: 1705
	 Top Genres:
		 Drama [1.0000]
		 Comedy [1.0000]
		 Crime [0.0868]
		 Family [0.0716]
		 Music [0.0499]
	 Movie Sample:
		 tt1881109 Zeroville
		 tt0388181 The King of Bollywood
		 tt6460276 My Daddy's in Heaven
		 tt10198952 The Come Up
		 tt0273453 Bark!
		 tt2055765 The English Teacher
		 tt4882548 Burn Your Maps
		 tt6865630 Ana
		 tt0462392 LOL
		 tt3485938 The Two Dogs
Cluster: 1 Size: 2509
	 Top Genres:
		 Horror [0.7210]
		 Mystery [0.1487]
		 Comedy [0.1263]
		 Drama [0.1140]
		 Fantasy [0.0873]
	 Movie Sample:
		 tt18548186 Pig Killer
		 tt1127180 Drag Me to Hell
		 tt2317484 The Penny Dreadful Picture Show
		 tt4460572 Tenement
		 tt5815078 Wunderland
		 tt3377240 Texas Rein
		 tt3463106 The Cured
		 tt1773768 The Strawberry Shortcake Movie: Sky's the Limit
		 tt0134084 Scream 3
		 tt14392056 A Little More Flesh II
Cluster: 2 Size: 1376
	 Top Genres:
		 Thriller [1.0000]
		 Drama [1.0000]
		 Crime [0.2427]
		 Mystery [0.1199]
		 Action [0.1090]
	 Movie Sample:
		 tt0360130 Undertow
		 tt0977855 Fair Game
		 tt3100678 House of Manson
		 tt0497365 True North
		 tt7937254 Silk Road
		 tt0425210 Lucky Number Slevin
		 tt0420740 A Little Trip to Heaven
		 tt0271136 Quicksand
		 tt4626020 The Bone Box
		 tt3687310 Criminal Activities
Cluster: 3 Size: 635
	 Top Genres:
		 Comedy [1.0000]
		 Romance [1.0000]
		 Drama [1.0000]
		  [0.0000]
		 Thriller [0.0000]
	 Movie Sample:
		 tt8847712 The French Dispatch
		 tt0371735 Hungama
		 tt0348375 Wheels
		 tt14850544 Sam & Kate
		 tt1720616 Friends with Kids
		 tt0183550 My Mother Frank
		 tt0815182 Irene in Time
		 tt1261945 Sex and the City 2
		 tt0805564 Lars and the Real Girl
		 tt0913445 YPF
Cluster: 4 Size: 846
	 Top Genres:
		 Crime [0.8251]
		 Action [0.7825]
		 Comedy [0.6087]
		 Thriller [0.3404]
		 Mystery [0.0626]
	 Movie Sample:
		 tt6271432 Abstruse
		 tt1451409 Pokkiri
		 tt2407870 The Man-Hunt
		 tt8367814 The Gentlemen
		 tt0289848 Analyze That
		 tt1980209 Pain & Gain
		 tt6905696 Slaughterhouse Rulez
		 tt7788946 Roommates
		 tt0293564 Rush Hour 3
		 tt0247745 Super Troopers
Cluster: 5 Size: 3626
	 Top Genres:
		 Drama [1.0000]
		 Biography [0.1120]
		 Family [0.0596]
		 History [0.0502]
		 Mystery [0.0444]
	 Movie Sample:
		 tt1470020 Redemption Road
		 tt9185066 Human Capital
		 tt10451852 Nine Days
		 tt8294554 A Polished Soul
		 tt1935179 Mud
		 tt1032819 Powder Blue
		 tt1525898 The Space Between
		 tt3833520 Jack of the Red Hearts
		 tt1260594 This Life
		 tt1800307 Impulse Black
Cluster: 6 Size: 1123
	 Top Genres:
		 Crime [1.0000]
		 Drama [0.9074]
		 Action [0.3678]
		 Mystery [0.1888]
		 Biography [0.0819]
	 Movie Sample:
		 tt1434944 American Mobster
		 tt13194654 Code of Silence
		 tt0380201 Back to You in the Days
		 tt3893826 Mile End
		 tt14203746 Walter Lee
		 tt0230308 Hoover
		 tt2264918 Kill Kapone
		 tt1485761 No God, No Master
		 tt0304574 Posers
		 tt0800240 Deception
Cluster: 7 Size: 906
	 Top Genres:
		 Action [1.0000]
		 Drama [0.6126]
		 Adventure [0.1413]
		 History [0.0684]
		 Fantasy [0.0442]
	 Movie Sample:
		 tt1266139 Mexican Gangster
		 tt0457355 From Mexico with Love
		 tt1638894 Delta Zulu
		 tt3142232 Heropanti
		 tt2857286 Good Brutha Bad Brutha
		 tt1990216 El Gringo
		 tt1188482 Dogs of Chinatown
		 tt0473024 Crossover
		 tt12792472 Gangster Wives
		 tt0425056 Gang Warz
Cluster: 8 Size: 847
	 Top Genres:
		 Documentary [0.8831]
		 Sport [0.1594]
		 History [0.1405]
		 Biography [0.1004]
		 News [0.0331]
	 Movie Sample:
		 tt0391928 Direct Order
		 tt4208886 Messenger of the Truth
		 tt0166773 Quartzite's Fall: A Wilderness Tale
		 tt5990772 Leonard Soloway's Broadway
		 tt3239932 True Crime: The Movie
		 tt0301249 A Second Chance at Life
		 tt8399690 Anthropocene: The Human Epoch
		 tt1337521 Objects and Memory
		 tt3233734 Playground of the Native Son
		 tt13525042 Invasion U.S.A: American Business in the U.K
Cluster: 9 Size: 771
	 Top Genres:
		 Romance [1.0000]
		 Comedy [0.8418]
		 Fantasy [0.0441]
		 Family [0.0389]
		 Action [0.0350]
	 Movie Sample:
		 tt1865519 The Brothers Sinclair
		 tt1646148 Married
		 tt1826590 About Last Night
		 tt10452466 2 Hours Love
		 tt0239949 Say It Isn't So
		 tt0187512 She Gets What She Wants
		 tt0451106 Loveless in Los Angeles
		 tt1640711 A Few Best Men
		 tt0375785 Gray Matters
		 tt5347148 A Weekend with the Family
Cluster: 10 Size: 1333
	 Top Genres:
		 Thriller [1.0000]
		 Action [0.2393]
		 Crime [0.1500]
		 Mystery [0.1395]
		 Sci-Fi [0.0458]
	 Movie Sample:
		 tt10820008 Unchained
		 tt0275611 Witness to a Kill
		 tt1217059 One in the Gun
		 tt1486192 The Raven
		 tt2402157 The November Man
		 tt6759838 Under the Palm Tree
		 tt12187924 Panic in Detroit
		 tt0260216 Night Class
		 tt11046112 Haul
		 tt0419781 Graves End
Cluster: 11 Size: 1927
	 Top Genres:
		 Comedy [1.0000]
		 Adventure [0.1806]
		 Animation [0.1365]
		 Family [0.1168]
		 Fantasy [0.0498]
	 Movie Sample:
		 tt0190590 O Brother, Where Art Thou?
		 tt0338348 The Polar Express
		 tt1226229 Get Him to the Greek
		 tt2388358 The Executive
		 tt0977644 Commute
		 tt1411704 Hop
		 tt2949596 Ripped!
		 tt0800268 Wieners
		 tt3672120 Pottersville
		 tt15319148 Anubhavinchu Raja
Cluster: 12 Size: 841
	 Top Genres:
		 Horror [1.0000]
		 Thriller [1.0000]
		 Mystery [0.2390]
		 Sci-Fi [0.0595]
		 Action [0.0571]
	 Movie Sample:
		 tt5140878 Annabelle: Creation
		 tt0990363 Detention
		 tt8698956 Lupt
		 tt2290709 The Appearing
		 tt1260567 Dark House
		 tt11348232 The Requin
		 tt0437234 House of Grimm
		 tt2210587 Erebus
		 tt2124787 Final Girl
		 tt0315411 Claustrophobia
Cluster: 13 Size: 947
	 Top Genres:
		 Romance [1.0000]
		 Drama [1.0000]
		 Crime [0.0739]
		 Mystery [0.0570]
		 Biography [0.0517]
	 Movie Sample:
		 tt7703924 Infamous
		 tt1618432 I'm in Love with a Church Girl
		 tt6213952 Anything
		 tt0312329 Against the Ropes
		 tt3741106 Seven Lovers
		 tt1327194 The Lucky One
		 tt0412536 Brideshead Revisited
		 tt4682804 Lucy in the Sky
		 tt14670276 Lekh
		 tt0446439 Priyamana Thozhi
Cluster: 14 Size: 709
	 Top Genres:
		 Adventure [1.0000]
		 Action [0.8251]
		 Comedy [0.2496]
		 Fantasy [0.2200]
		 Animation [0.1425]
	 Movie Sample:
		 tt8982672 Resilience and the Lost Gems
		 tt4781886 Operation: Neighborhood Watch!
		 tt0826823 Magic
		 tt7974634 Koati
		 tt1075417 Race to Witch Mountain
		 tt0144964 Highlander: Endgame
		 tt3130082 Pirate's Code: The Adventures of Mickey Matson
		 tt0264410 Berserker
		 tt0811080 Speed Racer
		 tt0496375 Prisoners of the Sun
Cluster: 15 Size: 519
	 Top Genres:
		 Sci-Fi [1.0000]
		 Action [0.6802]
		 Adventure [0.2929]
		 Thriller [0.1503]
		 Horror [0.1407]
	 Movie Sample:
		 tt0462465 Outlander
		 tt22811298 Don't Look Deeper
		 tt1455816 Prince
		 tt1855325 Resident Evil: Retribution
		 tt4782322 Fighting the Sky
		 tt0433362 Daybreakers
		 tt0393733 The Shadowlands
		 tt1637688 In Time
		 tt1302183 Gunheavy
		 tt1217613 Battle Los Angeles